# Ignore everything
*

# Except
!.gitignore
!.config

# Sway
!.config/sway
!.config/sway/*

# Alacritty
!.config/alacritty
!.config/alacritty/*

# Status bar
!.config/i3status-rust/
!.config/i3status-rust/*

# Shell
!.config/fish
!.config/fish/config.fish
!.config/fish/environment.fish
!.config/fish/style.fish
!.config/fish/programs.fish

# GTK 
!.config/gtk-3.0
!.config/gtk-3.0/*

